body{
    background: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

#conteiner{
    width: 1100px;
    margin: 0px auto;
    border: 1px solid gray;
    text-align: center;
    line-height: 100px;
    color: black;
} 

header{
    background: gray;
    min-height: 100px;
    min-width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    color: white;
}

h3{
    background: gray;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 100px;
    color: white;
}

ol{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fz);
}

 nav{
    background: lightgray;
    height: 50px;
}

nav ul li{
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 20px;
}

section {
    font-size: 35px;
    color: #36A0FF;
}

#conteiner{
    width: 1100px;
    margin: 0px auto;
    border: 1px solid gray;
    text-align: center;
    line-height: 100px;
    color: black;
}

.alertas{
    background: gray;
    min-height: 100px;
    min-width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    color: white;
}

.clearfix{
    clear: both;
}

.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

.form-group{
    text-align: center;
}

footer{
    background: gray;
    color: white;
    text-align: center;
    line-height: 100px;
    width: 100%;
    margin: 0px auto;
    border: 1px solid gray;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.button {
    background-color: #36A0FF;;
    color: white

}

#calendar {
    font-family:Arial;
    font-size:12px;
}
#calendar caption {
    text-align:left;
    padding:5px 10px;
    background-color:#003366;
    color:#fff;
    font-weight:bold;
    font-size:medium;
}
#calendar caption div:nth-child(1) {float:left;}
#calendar caption div:nth-child(2) {float:right;}
#calendar caption div:nth-child(2) a {cursor:pointer;}
#calendar th {
    background-color:#006699;
    color:#fff;
    width:40px;
}
#calendar td {
    text-align:right;
    padding:2px 5px;
    background-color:silver;
}
#calendar .hoy {
    background-color:red;
}


